.example-card {
  width: 400px;
  height: 400px;
  background-color: rgb(186, 181, 181);
}
.card-Conetnt {
  margin-top: 10px;
}
a{
  color: black;
  text-decoration:none;
  color: white;
  border-bottom: 1px solid white;
}